on:
  workflow_call:

jobs:
  audit:
    runs-on: [self-hosted, gke]
    steps:

    - id: 'gh-app'
      name: 'Get Token'
      uses: 'tibdex/github-app-token@021a2405c7f990db57f5eae5397423dcc554159c' #v1.7.0
      with:
        app_id: ${{ secrets.GH_APP_ID }}
        private_key: ${{ secrets.GH_PRIVATE_KEY }}

    - name: 'Checkout repo'
      uses: 'actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8' #v3.1.0

    - name: 'Setup creds'
      run: |
        git config --global url."https://x-access-token:${{ steps.gh-app.outputs.token }}@github.com".insteadOf "ssh://git@github.com"

    - name: 'Audit check'
      uses: 'actions-rs/audit-check@35b7b53b1e25b55642157ac01b4adceb5b9ebef3'
      with:
        token: ${{ steps.gh-app.outputs.token }}
