on:
  workflow_call:
    inputs:
      image_repository:
        required: true
        type: string
      dockerfile_path:
        required: false
        type: string
        default: 'Dockerfile'
      checkout_repository:
        required: false
        type: string
      checkout_submodules:
        required: false
        type: string
      build_context:
        required: false
        type: string
        default: '.'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - id: 'gh-app'
        name: 'Get Token'
        uses: getsentry/action-github-app-token@38a3ce582e170ddfe8789f509597c6944f2292a9 #v1.0.6
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_PRIVATE_KEY }}

      - name: 'Checkout Repo With Submodule'
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
        with:
          repository: ${{ inputs.checkout_repository }}
          token: ${{ steps.gh-app.outputs.token }}
          submodules: ${{ inputs.checkout_submodules }}

      - id: 'meta'
        name: 'Docker Meta'
        uses: docker/metadata-action@12cce9efe0d49980455aaaca9b071c0befcdd702 #v4.0.1
        with:
          images: ${{ inputs.image_repository }}
          tags: |
            type=ref,suffix=-{{sha}},event=branch
            type=ref,suffix=-{{sha}},event=pr
            type=ref,suffix=-{{sha}},event=tag
            type=semver,event=tag,pattern={{raw}}

      # Enable Registry Cache
      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@95cb08cb2672c73d4ffd2f422e6d11953d2a9c70 #v2.0.0

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: google-github-actions/auth@c4799db9111fba4461e9f9da8732e5057b394f72 #v0.8.1
        with:
          token_format: 'access_token'
          workload_identity_provider: ${{ secrets.GH_ACTIONS_WIP }}
          service_account: ${{ secrets.GH_ACTIONS_SA_GCR }}

      - name: 'Login to GCR'
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a #v2.0.0
        with:
          registry: gcr.io
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: 'Build and Push'
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5 #v3.1.1
        with:
          context: ${{ inputs.build_context }}
          file: ${{ inputs.dockerfile_path }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          secrets: |
            "github_token=${{ steps.gh-app.outputs.token }}"
