on:
  workflow_call:
    inputs:
      image_repository:
        required: true
        type: string
      dockerfile_path:
        required: false
        type: string
        default: 'Dockerfile'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout Repo'
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2

      - id: 'meta'
        name: 'Docker Meta'
        uses: docker/metadata-action@12cce9efe0d49980455aaaca9b071c0befcdd702 #v4.0.1
        with:
          images: ${{ inputs.image_repository }}
          tags: |
            type=ref,suffix=-{{sha}},event=branch
            type=ref,suffix=-{{sha}},event=pr
            type=ref,suffix=-{{sha}},event=tag
            type=semver,event=tag,pattern={{raw}}

      # Enable Registry Cache
      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@95cb08cb2672c73d4ffd2f422e6d11953d2a9c70 #v2.0.0

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: google-github-actions/auth@c4799db9111fba4461e9f9da8732e5057b394f72 #v0.8.1
        with:
          token_format: 'access_token'
          workload_identity_provider: ${{ secrets.GH_ACTIONS_WIP }}
          service_account: ${{ secrets.GH_ACTIONS_SA_GCR }}

      - name: 'Login to GCR'
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a #v2.0.0
        with:
          registry: gcr.io
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: 'Build and Push'
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5 #v3.1.1
        with:
          context: .
          file: ${{ inputs.dockerfile_path }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          # cache-from: type=registry,ref=${{ inputs.image_repository }}:buildcache
          # cache-to: type=registry,ref=${{ inputs.image_repository }}:buildcache,mode=max
          secrets: |
            "npm_token=${{ secrets.NPM_AUTH_TOKEN }}"
