on:
  workflow_call:
    inputs:
      toolchain_version:
        description: 'The Rust toolchain version (ex: stable, nightly, 1.65, etc)'
        required: false
        type: string
        default: 'nightly'
      checkout_repository:
        required: false
        type: string
      checkout_submodules:
        required: false
        type: string
      unittest:
        required: false
        type: boolean
        default: false

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - id: 'gh-app'
        name: 'Get Token'
        uses: 'tibdex/github-app-token@021a2405c7f990db57f5eae5397423dcc554159c' #v1.7.0
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_PRIVATE_KEY }}

      - name: 'Checkout Repo With Submodule'
        uses: 'actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8' #v3.1.0
        with:
          repository: ${{ inputs.checkout_repository }}
          token: ${{ steps.gh-app.outputs.token }}
          submodules: ${{ inputs.checkout_submodules }}

      - name: 'Setup creds'
        run: |
          git config --global url."https://x-access-token:${{ steps.gh-app.outputs.token }}@github.com".insteadOf "ssh://git@github.com"

      - name: 'Install Rust toolchains (rustfmt, and clippy)'
        uses: 'dtolnay/rust-toolchain@55c7845fad90d0ae8b2e83715cb900e5e861e8cb'
        with:
          profile: minimal
          toolchain: ${{ inputs.toolchain_version }}
          components: rustfmt, clippy
          override: true

      - name: 'Run Rust fmt'
        run: cargo fmt --all -- --check

      - name: 'Run clippy'
        run: cargo clippy --all-features -- -D warnings

      - name: 'Run rust test'
        if: ${{ inputs.unittest != false }}
        run: cargo test
