on:
  workflow_call:
    inputs:
      semgrep_options:
        required: false
        type: string
        default: '--config auto --exclude Dockerfile'

jobs:
  semgrep:
    runs-on: [self-hosted, gke]

    container:
      # A Docker image with Semgrep installed. Do not change this.
      image: returntocorp/semgrep

    # Skip any PR created by dependabot to avoid permission issues:
    if: (github.actor != 'dependabot[bot]')

    steps:

      - name: 'Checkout Repo'
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #v3.0.2

      - name: 'Static analysis'
        run: semgrep ci ${{ inputs.semgrep_options }}

  TruffleHog:
    runs-on: [self-hosted, gke]

    steps:
      - name: 'Checkout Repo'
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #v3.0.2
        with:
          fetch-depth: 0

      - name: 'TruffleHog OSS'
        uses: trufflesecurity/trufflehog@28dd25beebf50d9bdba0d44030912fbff24fb79a #v3.12.0
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug --only-verified
