on:
  workflow_call:
    inputs:
      go_version:
        description: 'The Go version to download (if necessary) and use.'
        required: true
        type: string
      test_flags:
        description: 'The test binary also accepts flags that control execution of the test.'
        required: false
        type: string
      go_path:
        description: 'Testing the packages named by the paths.'
        required: false
        type: string
      golint_version:
        description: 'The version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version'
        required: false
        type: string
        default: 'latest'
      golint_args:
        description: 'golangci-lint command line arguments.'
        required: false
        type: string
      golint_path:
        description: 'Lint the packages named by the paths.'
        required: false
        type: string

jobs:
  golang:
    runs-on: ubuntu-latest

    steps:
      - name: 'Setup Go'
        uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f #v3.3.0
        with:
          go-version: '${{ inputs.go_version }}'

      - name: 'Checkout Repo'
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #v3.1.0

      - name: 'Go Lint'
        uses: golangci/golangci-lint-action@07db5389c99593f11ad7b44463c2d4233066a9b1 #v3.3.0
        with:
          version: '${{ inputs.golint_version }}'
          args: '${{ inputs.golint_args }}'
          working-directory: '${{ inputs.golint_path }}'

      - name: 'Test with the Go CLI'
        run: go test '${{ inputs.test_flags }}' '${{ inputs.go_path }}'
